.container-fluid:first-child {
  padding: 0;
}

.main-header {
  margin: 0 auto;
}

.bg-img {
  padding-bottom: 43.09117%;
  background: center center no-repeat;
  background-size: cover;
}

.main-top-header {
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.main-top-header .main-top-header-left {
  float: left;
  position: relative;
  width: 25%;
  margin: 0;
}

.main-top-header .main-top-header-left .logo {
  margin: 0;
}

.main-top-header .main-top-header-left .logo h1 {
  font-size: 2.5rem;
  margin: 0;
}

.main-top-header .main-top-header-right {
  float: right;
  width: 75%;
}

.main-top-header .main-top-header-right .menu ul {
  text-align: right;
}

.main-top-header .main-top-header-right .menu ul li {
  display: inline-block;
  margin-left: 5%;
  font-size: 2rem;
}

.main-top-header .main-top-header-right .menu a:link {
  color: inherit;
  text-decoration: none;
}

.main-top-header .main-top-header-right .menu a:hover {
  color: #547dde;
}

.main-search {
  background-color: #d1d1d2;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 5%;
  border-radius: 3%;
  position: relative;
  top: 10rem;
}

.main-search .searching {
  width: 50%;
  margin: 0 auto;
}

.main-search .searching .find {
  width: 80%;
  background-color: #d1d1d2;
}

.main-search span:first-child {
  padding: 2%;
  margin-bottom: 2%;
}

.main-search .search {
  float: left;
}

.main-search input {
  height: 3rem;
  width: 75%;
  padding-left: 2%;
}

.main-search button {
  width: 20%;
  height: 3rem;
  background-color: #547dde;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

nav {
  background-color: #7a797c;
  position: absolute;
  width: 100%;
}

.patientsRights h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.patientsRights .img {
  margin-left: 20%;
  margin-bottom: 10%;
}

@media (max-width: 991px) {
  .patientsRights .img {
    margin-left: 0;
    text-align: center;
  }
}

.patientsRights .text {
  margin-right: 20%;
  margin-bottom: 10%;
  text-align: justify;
}

@media (max-width: 991px) {
  .patientsRights .text {
    margin-right: 0;
  }
}

.patientsRights .text a {
  text-decoration: none;
}

.doctorsDuties {
  background-color: #d1d1d2;
}

.doctorsDuties h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.doctorsDuties .text {
  text-align: justify;
  margin-left: 10%;
  margin-bottom: 10%;
}

@media (max-width: 991px) {
  .doctorsDuties .text {
    margin-left: 0;
  }
}

.doctorsDuties .img {
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

@media (max-width: 991px) {
  .doctorsDuties .img {
    margin-right: 0;
    margin-top: 0;
    text-align: center;
  }
}

.doctorsDuties a {
  text-decoration: none;
}

.main-about-us {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-about-us h1 {
  margin-bottom: 2%;
}

.main-about-us p {
  margin-left: 7%;
  margin-right: 7%;
  text-align: justify;
}

.contact {
  background-color: #d1d1d2;
  margin: 0 auto;
  text-align: center;
}

.contact h2 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact input, .contact textarea {
  margin-bottom: 2%;
  width: 60%;
  padding: 2%;
}

.contact input {
  height: 2rem;
}

.contact .btn {
  text-align: center;
  margin: 0 auto;
}

.contact button {
  border: none;
  background-color: #547dde;
  text-transform: uppercase;
  padding: 20%;
  color: #ffffff;
}

footer {
  background-color: #d1d1d2;
  margin: 0 auto;
  text-align: center;
}

footer .footer-main {
  margin-top: 5%;
}

footer .footer-main a {
  color: inherit;
  text-decoration: none;
}
