header {
  width: 100%;
  background-image: url("../images/header_background.jpg");
  background-size: 100% auto;
  padding-bottom: 10%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.main-top-header-left {
  float: left;
  width: 50%;
}

.main-top-header-left .logo {
  margin-left: 5%;
  margin-top: 2%;
}

.main-top-header-left .logo h1 {
  font-size: 2.5rem;
}

.main-top-header-right {
  float: right;
  width: 50%;
}

.main-top-header-right .menu {
  margin-right: 5%;
  margin-top: 4%;
}

.main-top-header-right .menu ul {
  text-align: right;
}

.main-top-header-right .menu ul li {
  display: inline-block;
  margin-left: 5%;
  font-size: 2rem;
}

.main-top-header-right .menu a:link {
  color: inherit;
  text-decoration: none;
}

.main-top-header-right .menu a:hover {
  color: #547dde;
}

.main-search {
  margin-top: 15%;
}

.main-search .searching {
  width: 50%;
  margin: 0 auto;
}

.main-search span:first-child {
  padding: 2%;
  margin-bottom: 2%;
}

.main-search .search {
  float: left;
}

.main-search input {
  height: 3rem;
  width: 75%;
  padding-left: 2%;
}

.main-search button {
  width: 20%;
  height: 3rem;
  background-color: #547dde;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navigation-menu {
  margin-top: 1%;
}

.patientsRights h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.patientsRights .img {
  margin-left: 20%;
  margin-bottom: 10%;
}

.patientsRights .text {
  margin-right: 20%;
  margin-bottom: 10%;
  text-align: justify;
}

.patientsRights .text a {
  text-decoration: none;
}

.doctorsDuties {
  background-color: #d1d1d2;
}

.doctorsDuties h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.doctorsDuties .text {
  text-align: justify;
  margin-left: 10%;
  margin-bottom: 10%;
}

.doctorsDuties .img {
  margin-top: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.doctorsDuties a {
  text-decoration: none;
}

.main-about-us {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.main-about-us h1 {
  margin-bottom: 2%;
}

.main-about-us p {
  margin-left: 7%;
  margin-right: 7%;
  text-align: justify;
}

.contact {
  background-color: #d1d1d2;
  margin: 0 auto;
  text-align: center;
}

.contact h2 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact input, .contact textarea {
  margin-bottom: 2%;
  width: 60%;
  padding: 2%;
}

.contact input {
  height: 2rem;
}

.contact .btn {
  text-align: center;
  margin: 0 auto;
}

.contact button {
  border: none;
  background-color: #547dde;
  text-transform: uppercase;
  padding: 20%;
  color: #ffffff;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.45);
}
