header {
  width: 100%;
  background-image: url("../images/header_background.jpg");
  background-size: 100% auto;
  padding-bottom: 10%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.main-top-header-left {
  float: left;
  width: 50%;
}

.main-top-header-left .logo {
  margin-left: 5%;
  margin-top: 2%;
}

.main-top-header-left .logo h1 {
  font-size: 2.5rem;
}

.main-top-header-right {
  float: right;
  width: 50%;
}

.main-top-header-right .menu {
  margin-right: 5%;
  margin-top: 4%;
}

.main-top-header-right .menu ul {
  text-align: right;
}

.main-top-header-right .menu ul li {
  display: inline-block;
  margin-left: 5%;
  font-size: 2rem;
}

.main-top-header-right .menu a:link {
  color: inherit;
  text-decoration: none;
}

.main-top-header-right .menu a:hover {
  color: #547dde;
}

.main-search {
  margin-top: 15%;
}

.main-search .searching {
  width: 50%;
  margin: 0 auto;
}

.main-search span:first-child {
  padding: 2%;
  margin-bottom: 2%;
}

.main-search .search {
  float: left;
}

.main-search input {
  height: 3rem;
  width: 75%;
  padding-left: 2%;
}

.main-search button {
  width: 20%;
  height: 3rem;
  background-color: #547dde;
  color: #ffffff;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.navigation-menu {
  margin-top: 1%;
}

.patientsRights {
  margin-top: 10%;
}

.patientsRights .img {
  margin-left: 20%;
}

.patientsRights .text {
  margin-right: 20%;
}

.patientsRights .text a {
  text-decoration: none;
}
